<div class="row">
    <div class="col-md-12" *ngIf="blog">
        <div class="blog-container">
            <div class="card">
                <img [src]="blog.imgUrl" class="card-img-top blog-img" [alt]="blog.title">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">{{blog.description}}</p>
                    <div class="card-text">
                        <div>
                            <span>Created On</span>  {{blog.date | date:'short'}}
                        </div>
                        <div>
                            <span>Created By</span>  {{blog.author}}
                        </div>
                
                    </div>
                    <div class="footer">
                        <a class="btn btn-primary" routerLink="/blogs">Back</a>
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>